/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/
.height-110{
    height: 110px;
}
.width-50{
    width: 50px;
}
/* 
    header 
*/

/* 
    main 
*/

/* 
    footer 
*/
